.wrapper-grid {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}
.cont {
  display: flex;
  margin-top: 50px;
}
.col {
  border: 1px solid blue;
  background-color: blue;
  color: white;
  width: 60%;
  height: 10vh;

  margin: 1px;
}
/* @media screen and (max-width:700px) {
    .wrapper-grid{
         grid-template-columns: repeat(3, 1fr);
    }
} */
